
@font-face {
  font-family: SF-Mono;
  src: url(../fonts/SFMonoLight.otf);
}

p {
  font-size: 1.15em;
}

#task-img{
 display: none;
}

.img-task-block {
  display: block;
}

button {
   outline: 0;
   border-radius: 50px 50px 50px 50px;
}

.container-main {
   display: flex;
  flex-direction: column;
  flex-grow: 2;

}

.content-hidden{
  display: none;
}

body.darkBackGround {
  background: rgba(0,0,0,0.8);
}

a.code-wrapper__link-exmple {
  display: inline-block;
  color: #BCCBD6;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: .5em 2em;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
  background-color: #605c64;
  text-align: center;
  width: auto;
  max-width:200px;
} 

a.code-wrapper__link-exmple:hover {
  background: rgba(255,255,255,0.1);
  color: #28262a;
}

.examples {
  font-family: SF-Mono;
  padding: 2%;
  border: 5px solid #021717;
  border-radius: 3px 3px 3px 3px;
  color: #e5e4e2;
  background: rgba(0, 0, 0, 0.8);
  width: 80%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.rounded {
  counter-reset: li;
  list-style: none;
  font: 14px 'Trebuchet MS', 'Lucida Sans';
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rounded a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.5s ease-out;
}
.rounded a:hover {
  background: #e9e4e0;
}
.rounded a::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #8fd4c1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid white;
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}
.rounded a:hover::before {
  transform: rotate(360deg);
}

.close {
position: absolute;
right: 32px;
top: 32px;
width: 32px;
height: 32px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

.code-example__tag {
  color:#d33d04;
}

.code-example__attribute {
  color:#d6623e;
}
.code-example__variable {
  color:#7C15B0;
}
.code-example__quotes {
  color:#147e02 ;
}

table {
  font-family: SF-Mono;
  padding: 2%;
  border: 5px solid #021717;
  border-radius: 3px 3px 3px 3px;
  color: #cbc9c9;
  background: rgba(0, 0, 0, 0.8);
  width:100%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.code-example__doctype {
  color:#8703bd;
}

.code-example__comment {
  color: #9a9a9a;
}

a.previous, .next{
  text-decoration: none;

  padding: 8px 16px;
}

.navigation:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.closeForm:hover {
  background: rgba(205, 205, 205, 0.99);
}

.next {
  background-color: #4CAF50;
  color: white;
}

.theory-form {
  background: rgba(205, 205, 205, 0.99);
  position: relative;
  width: 70%;
  height: auto;
  display: none;
  z-index: 100;
  padding:  1%;
}

.theory-form-flex {
  display: flex;
  flex-direction: column;
}

.navigation-buttons{
  display:  flex;
  justify-content: space-between;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5%;
}

.anchor {
  display: none;
  opacity: 0.8;
  position: fixed;
  bottom: 3%;
  right: 3%;
}

.anchor-appearance {
  display: block;
}

.anchor__img {
  filter: invert(1);
}

.intro__images {
 margin-top: 50px;
}

.example-links {
  color: #e5e4e2;
  text-decoration: underline;
}
.theory-form__list-headers {
  font-size: 1.3em;
}

.css-example__color-red {
  color: red;
}

.css-example__color-green {
  color: #008800;
}

.css-example__color-purple {
  color: rgb(205, 51, 255);
}

.css-example__background-color-red {
  background-color: red;

}

.css-example__background-color-green {
  background-color:  #008800;
}

.css-example__background-color-purple {
  background-color:  rgb(205, 51, 255);
}

.code-wrapper {
  width: 100%;
}


.code-wrapper__link-exmple {
  float: right;
}


.list4a {
    padding:0;
    list-style: none;
    counter-reset: li;
}    
.list4a li {
    position: relative;
    padding:12px 20px 20px 28px;
    margin-left: 40px;
    transition-duration: 0.3s;
}
.list4a li:before {
    border: 6px solid transparent;
    line-height: 30px;
    position: absolute;
    top: 0;
    left:-30px;
    width:42px;
    text-align:center;
    font-size: 13px;
    font-weight: bold;
    color: #A52B2B;
    counter-increment: li;
    content: counter(li);
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    }
.list4a li:hover:before {
    color: #337AB7;    
}
.list4a li:after {
    position: absolute;
    top: 0;
    left: -30px;
    width: 42px;
    height: 42px;
    border: 6px solid #A52B2B;
    border-radius: 50%;
    content: '';
    opacity: 0.5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}
.list4a li:hover:after {
    animation: 500ms ease-in-out 0s bounceIn;
    opacity: 1;
}    
 
@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.3, 1.3, 1.3);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    to {
        opacity: 1;
        transform: scale3d(1, 1, 1);
}

.theory-form__buttons {
   display: inline-flex;
   justify-content: space-between;
}

.inputs__error {
  border:2px solid red;
}

.inputs{
  border-color: #f000;
}

